.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 2rem 0;
  margin-bottom: 2rem;
  flex-wrap: wrap;
  flex-direction: column;
  
  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.nav_right {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  
  @media screen and (min-width: 768px) {
    display: block;
  }
}

.logo {
  font-size: 1.8rem;
  font-weight: 700;

  @media screen and (min-width: 768px) {
    font-size: 2.2rem;
  }
}
